/* strona jest robiona tylko na mojego lapka (zadnego RWD) */
ul {
    list-style-type: none;
}

.kafelek {
    /* za w3schools z minimalnymi zmianami */
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    padding: 16px;
    border-radius: 5px;
    float: left;
    background-color: white;
}

.inny_kolor {
    /* za w3schools z minimalnymi zmianami */
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    padding: 16px;
    border-radius: 5px;
    background-color: lightblue;
    float: left;
}

ol > li {
    /* za w3schools z minimalnymi zmianami */
    /* list-style-type: none; */
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    cursor: pointer;
}


/* slider - tryb nocny/dzienny za: */
/* https://www.w3schools.com/howto/howto_css_switch.asp */
/* minimalnie zmodyfikowane */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  bottom: 15px;
/*zmieniono pozycje slidera aby lepiej pasowal do poziomu ikonek slonca i ksiezyca*/
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* zamiana na zloty kolor dla dnia */
  background-color: #ffd700;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
    /* zamiana koloru na granatowy dla nocy */
  background-color: #000080;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

p.tryb {
    display: inline;
}

.tryb_nocny {
    /* kolor srebrny */
    background-color: #c0c0c0;
}


.tryb_nocny .kafelek {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    padding: 16px;
    border-radius: 5px;
    float: left;
    background-color: lightgray;
}

.tryb_nocny .inny_kolor {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    padding: 16px;
    border-radius: 5px;
    background-color: #1e88e5;
    float: left;
}

/* wyglad do obrazkow zrobionych przeze mnie w InkScape (slonce i ksiezyc) */
img {
    position: relative;
    top: 15px;
    padding: 5px;
    height: 60px;
    width: 60px;
}
